* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: sans-serif;
  background-color: hsl(30, 54%, 90%);
  line-height: 2.5rem;
}

.container {
  max-width: 50dvw;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 2rem;
}

/* Font Style */

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  color: hsl(14, 45%, 36%);
}

h3 {
  font-size: 2rem;
  color: hsl(332, 51%, 32%);
}

p,
li,
td {
  font-size: 1.7rem;
  margin: 1rem 0;
  color: hsl(24, 5%, 18%);
}

span {
  font-weight: bold;
}

/* Content */

img {
  width: 90%;
  margin: 2.5rem auto;
  border-radius: 2rem;
}

.description {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.box {
  width: 95%;
  background-color: hsl(330, 100%, 98%);
  border-radius: 1rem;
  margin: auto;
  padding: 2rem;
  margin-bottom: 3rem;
}

.box ul {
  margin-left: 4rem;
}

.box ul li::marker {
  color: hsl(332, 51%, 32%);
}

.ingredients ul {
  margin-left: 3rem;
  margin-top: 3rem;
}

.ingredients ul li::marker {
  color: hsl(14, 45%, 36%);
}

.instructions ul {
  margin-left: 3rem;
  margin-top: 3rem;
  list-style-type: decimal;
}

.instructions ul li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

.nutrition-table {
  width: 100%;
  border-collapse: collapse;
  border-collapse: separate;
  border-spacing: 0 2rem;
}

.nutrition-table tr td {
  border-bottom: 0.2rem solid hsl(30, 18%, 87%);
  padding-left: 2rem;
}

.nutrition-table .style-table {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

@media (max-width: 768px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 7px;
  }

  .container {
    max-width: 80%;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 6px;
  }

  .container {
    max-width: 80%;
  }
}
